<ng-template #cardDetail let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Card Details</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form #modalForm="ngForm">
    <div class="modal-body">
        <div>
            {{ card.text }}
        </div>
            <input type="input-group-text" name="cardtext" [ngModel]="card.text"/>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-outline-dark" (click)="updateCard(card, modalForm);modal.close('Save click');">Save</button>
    </div>
    </form>
</ng-template>