<div>
	<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Card Details</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    	<span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div>
        {{ card.text }}
    </div>
</div>
<form #modalForm="ngForm">
<div class="modal-body">
    <input type="input-group-text" name="cardtext" [ngModel]="card.text"/>
</div>
<div class="modal-footer">
    <button type="submit" class="btn btn-outline-dark" (click)="updateCard(card, modalForm);activeModal.close('Save click');">Save</button>
</div>
</form>
</div>