<div>
	<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add New Card</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    	<span aria-hidden="true">&times;</span>
    </button>
</div>
<form #modalForm="ngForm">
<div class="modal-body">
    <input type="text" class="input-group-text" name="cardtext" ngModel/>
</div>
<div class="modal-footer">
    <button type="submit" class="btn btn-outline-dark" (click)="addNewCard(modalForm); activeModal.close('Save click');">Save</button>
</div>
</form>
</div>
