<div class="navbar bg-primary pt-3 dragger">
  <div class="navbar-brand text-white">{{ title }}</div>
  <div *ngIf="!isBoardEmpty()" class="text-white">{{ board.name }}</div>
</div>
<div *ngIf="isBoardEmpty()">
  <div>
    <div>No Boards</div>
    <button class="btn" (click)="addBoardModal()">Add a new Board</button>
  </div>
</div>
<div *ngIf="!isBoardEmpty()">
	<button class="btn" (click)=showNewCardModal() > Add a new card </button>
	<div class="lane col-12 mb-3" *ngFor="let thislane of board.lanes">
	  <div class="lane-name">
	    {{ thislane.name }}
	  </div>
	  <div class="row sortable" id = "{{ thislane.id }}" [sortablejs]="thislane.cards" [sortablejsOptions]="normalOptions">
	    <div class="card col-12" *ngFor="let thiscard of thislane.cards">
	        <div (click)=showCardDetail(thiscard)>
	        	<div class="card-text">{{ thiscard.text }}</div>
	        </div>
	    </div>
	  </div>
  </div>
</div>